*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    background-image:
    radial-gradient(circle at center, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) ),
    repeating-linear-gradient(90deg, #000000 0px 29px, transparent 29px 30px),
    repeating-linear-gradient(0deg, #000000 0px 29px, transparent 29px 30px),
    linear-gradient(45deg,  rgb(0, 17, 248),#00c8fa, #c8ff00, #4ef500);
}